@using Teknoroma.Application.Features.Employees.Models
@model EmployeeViewModel
@{
	ViewData["Title"] = "Çalışan Detayları - Teknoroma";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	<div class="col-md-12 mx-auto">
		<div class="card">
			<div class="card-header bg-info">
				<div class="form-group">
					<h2 class="text-white">Çalışan Seçiniz</h2>
					<select class="form-control" data-toggle="select2" onchange="redirectToSelectedPage(this)">
						@if (ViewBag.AppUserList != null)
						{
							@foreach (var appUser in ViewBag.AppUserList)
							{
								@if (Model == null)
								{
									<option value="@appUser.ID" href="@appUser.ID">@appUser.UserName</option>
								}
								else if (appUser.ID == Model.ID)
								{
									<option value="@appUser.ID" selected>@appUser.UserName</option>
								}
								else
								{
									<option value="@appUser.ID" href="@appUser.ID">@appUser.UserName</option>
								}
							}
						}
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mx-auto">
					@if(Model != null)
					{
						<form>
							<div class="card-body">
								<div asp-validation-summary="All">
								</div>
								<div class="form-group">
									<label asp-for="BranchName"></label>
									<input type="text" class="form-control" asp-for="@Model.BranchName">
								</div>
								<div class="form-group">
									<label asp-for="DepartmentName"></label>
									<input type="text" class="form-control" asp-for="@Model.DepartmentName">
								</div>
								<div class="form-group">
									<label asp-for="UserName"></label>
									<input type="text" class="form-control" asp-for="@Model.UserName">
								</div>
								<div class="form-group">
									<label asp-for="Email"></label>
									<input type="email" class="form-control" asp-for="@Model.Email">
								</div>
								<div class="form-group">
									<label asp-for="FirstName"></label>
									<input type="text" class="form-control" asp-for="@Model.FirstName">
								</div>
								<div class="form-group">
									<label asp-for="LastName"></label>
									<input type="text" class="form-control" asp-for="@Model.LastName">
								</div>
								<div class="form-group">
									<label asp-for="NationalityNumber"></label>
									<input type="text" class="form-control" asp-for="@Model.NationalityNumber">
								</div>
								<div class="form-group">
									<label asp-for="PhoneNumber"></label>
									<input type="number" class="form-control" asp-for="@Model.PhoneNumber">
								</div>
								<div class="form-group">
									<label asp-for="Address"></label>
									<textarea class="form-control" rows="3" cols="4" asp-for="@Model.Address"></textarea>
								</div>
								<div class="form-group">
									<label asp-for="Salary"></label>
									<input type="text" class="form-control" asp-for="@Model.Salary" />
								</div>
						</form>
					}
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function redirectToSelectedPage(selectElement) {
		// Seçili değeri al
		var selectedValue = selectElement.value;

		// Yönlendirme yapmak istediğiniz URL'yi oluşturun
		var redirectUrl = '/Admin/AppUser/Detail/' + selectedValue;

		// Yönlendirme işlemi
		window.location.href = redirectUrl;
	}
</script>
