@using Teknoroma.Application.Features.Employees.Models
@model EmployeeReportViewModel
@{
    ViewData["Title"] = "EmployeeReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="card">
        <div class="card-header bg-info">
            <div class="d-flex">
                <div class="col-md-10 my-auto">
                    <h2 style="color:white;">En Çok Satış(Sipariş) Yapan Çalışanlar</h2>
                </div>
                <div class="col-md-2">
                    <form method="get" asp-controller="Employee" asp-action="EmployeeReport">
                        <div class="d-flex">
                            <div>
                                <input type="text" class="form-control date" name="startDate" id="birthdatepicker" data-toggle="daterangepicker" data-single-date-picker="true">
                            </div>
                            <div>
                                <input type="text" class="form-control date" name="endDate" id="birthdatepicker" data-toggle="daterangepicker" data-single-date-picker="true">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger btn-block waves-effect waves-light">Filtrele</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <table id="datatable-buttons-employeeSellingReport" name="employeeSellingTable" width="100%" class="table table-striped nowrap no-footer dtr-inline collapsed" role="grid" aria-describedby="basic-datatable_info">
                        <thead>
                            <tr>
                                <th class="dt-orderable-asc dt-orderable-desc">Çalışan Kullanıcı Adı</th>
                                <th aria-sort="descending" class="dt-type-numeric dt-orderable-asc dt-orderable-desc dt-ordering-desc">Satış(Sipariş) Yapılan Adet</th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var employeeSelling in Model.EmployeeSellingReportViewModels)
                            {
                                <tr>
                                    <td>
                                        @employeeSelling.UserName
                                    </td>
                                    <td>
                                        @employeeSelling.TotalSales
                                    </td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-info btn-sm waves-effect waves-light" data-toggle="modal" data-target="#exampleModal-@employeeSelling.UserName">
                                            Detaylı Rapor
                                        </button>
                                        <!-- Modal -->
                                        <div class="container">
                                            <div class="modal fade" id="exampleModal-@employeeSelling.UserName" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-fullscreen">
                                                    <div class="modal-content mx-auto" style="width:100%; position:fixed; top:0; bottom:0; left:0; right:0;">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">@employeeSelling.UserName Kullanıcı Adına Sahip Çalışanın Detaylı Raporu</h5>
                                                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <table id="datatable-buttons-employeeDetailReport" name="employeeDetailReportTable" width="100%" class="table table-striped nowrap no-footer dtr-inline collapsed" role="grid" aria-describedby="basic-datatable_info">
                                                                <thead>
                                                                <th rowspan="1" colspan="1">Şube Adı</th>
                                                                <th rowspan="1" colspan="1">Satış Yapılan Ürün</th>
                                                                <th rowspan="1" colspan="1">Toplam Satış Adeti</th>
                                                                <th rowspan="1" colspan="1">Toplam Fiyat ₺</th>
                                                                </thead>
                                                                <tbody>
                                                                    @if(Model.EmployeeSellingReportViewModels != null && Model.EmployeeDetailReportViewModels != null)
                                                                    {
                                                                        @foreach (var employeeDetailReport in Model.EmployeeDetailReportViewModels)
                                                                        {
                                                                            @if (employeeSelling.UserName == employeeDetailReport.UserName)
                                                                            {
                                                                                <tr>
                                                                                    <td>
                                                                                        @employeeDetailReport.BranchName
                                                                                    </td>
                                                                                    <td>
                                                                                        @employeeDetailReport.ProductName
                                                                                    </td>
                                                                                    <td>
                                                                                        @employeeDetailReport.TotalSales
                                                                                    </td>
                                                                                    <td>
                                                                                        @employeeDetailReport.TotalPrice ₺
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>

                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">Kapat</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <canvas id="pieChartEmployeeSellingReport" style="display: block; width: 300px; height: 330px;" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header bg-info">
            <div class="d-flex">
                <div class="col-md-10 my-auto">
                    <h2 style="color:white;">En Çok Kazanç Elde Eden Çalışanlar</h2>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <canvas id="pieChartEmployeeEarningReport" style="display: block; width: 300px; height: 330px;" width="300" height="300"></canvas>
                </div>
                <div class="col-md-6">
                    <table id="datatable-buttons-employeeEarningReport" name="employeeEarningTable" width="100%" class="table table-striped nowrap no-footer dtr-inline collapsed" role="grid" aria-describedby="basic-datatable_info">
                        <thead>
                            <tr>
                                <th class="dt-orderable-asc dt-orderable-desc">Çalışan Kullanıcı Adı</th>
                                <th aria-sort="descending" class="dt-type-numeric dt-orderable-asc dt-orderable-desc dt-ordering-desc">Kazanç ₺</th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var employeeEarning in Model.EmployeeEarningReportViewModels)
                            {
                                <tr>
                                    <td>
                                        @employeeEarning.UserName
                                    </td>
                                    <td>
                                        @employeeEarning.TotalPrice ₺
                                    </td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-info btn-sm waves-effect waves-light" data-toggle="modal" data-target="#exampleModal-@employeeEarning.UserName">
                                            Detaylı Rapor
                                        </button>
                                        <!-- Modal -->
                                        <div class="container">
                                            <div class="modal fade" id="exampleModal-@employeeEarning.UserName" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-fullscreen">
                                                    <div class="modal-content mx-auto" style="width:100%; position:fixed; top:0; bottom:0; left:0; right:0;">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">@employeeEarning.UserName Kullanıcı Adına Sahip Çalışanın Detaylı Raporu</h5>
                                                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <table id="datatable-buttons-employeeDetailReport" name="employeeDetailReportTable" width="100%" class="table table-striped nowrap no-footer dtr-inline collapsed" role="grid" aria-describedby="basic-datatable_info">
                                                                <thead>
                                                                <th rowspan="1" colspan="1">Şube Adı</th>
                                                                <th rowspan="1" colspan="1">Satış Yapılan Ürün</th>
                                                                <th rowspan="1" colspan="1">Toplam Satış Adeti</th>
                                                                <th rowspan="1" colspan="1">Toplam Fiyat ₺</th>
                                                                </thead>
                                                                <tbody>
                                                                    @if (Model.EmployeeSellingReportViewModels != null && Model.EmployeeDetailReportViewModels != null)
                                                                    {
                                                                        @foreach (var employeeDetailReport in Model.EmployeeDetailReportViewModels)
                                                                        {
                                                                            @if (employeeEarning.UserName == employeeDetailReport.UserName)
                                                                            {
                                                                                <tr>
                                                                                    <td>
                                                                                        @employeeDetailReport.BranchName
                                                                                    </td>
                                                                                    <td>
                                                                                        @employeeDetailReport.ProductName
                                                                                    </td>
                                                                                    <td>
                                                                                        @employeeDetailReport.TotalSales
                                                                                    </td>
                                                                                    <td>
                                                                                        @employeeDetailReport.TotalPrice ₺
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>

                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">Kapat</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

