@using Teknoroma.Application.Features.Employees.Models
@model List<EmployeeViewModel>
@{
    ViewData["Title"] = "EmployeeList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
	<div class="col-md-12 mx-auto">
		<div class="card">
			<div class="card-header bg-info">
				<h2 class="text-white">Çalışan Listesi</h2>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-12">
							<table id="datatable-buttons-employeeList" width="100%" class="table table-striped nowrap no-footer dtr-inline collapsed" role="grid" aria-describedby="basic-datatable_info">
							<thead>
							<th rowspan="1" colspan="1">Şube</th>
							<th rowspan="1" colspan="1">Departman</th>
							<th rowspan="1" colspan="1">Kullanıcı Adı</th>
							<th rowspan="1" colspan="1">Email</th>
							<th rowspan="1" colspan="1">Ad</th>
							<th rowspan="1" colspan="1">Soyad</th>
							<th rowspan="1" colspan="1">Kimlik Numarası</th>
							<th rowspan="1" colspan="1">Telefon Numarası</th>
							<th rowspan="1" colspan="1">Adres</th>
							<th>

							</th>
							</tr>
							</thead>
							<tbody>
								@if(Model != null)
								{
									@foreach (var item in Model)
									{
										<tr>
											<td>
												@item.BranchName
											</td>
											<td>
												@item.DepartmentName
											</td>
											<td>
												@item.UserName
											</td>
											<td>
												@item.Email
											</td>
											<td>
												@item.FirstName
											</td>
											<td>
												@item.LastName
											</td>
											<td>
												@item.NationalityNumber
											</td>
											<td>
												@item.PhoneNumber
											</td>
											<td>
												@item.Address
											</td>
											<td>
												<div>
													<a class="btn btn-info btn-block waves-effect waves-light" asp-controller="Employee" asp-action="Detail" asp-route-id="@item.ID">Detaylar</a>
												</div>
												<div>
													<a class="btn btn-warning btn-block waves-effect waves-light" asp-controller="Employee" asp-action="Update" asp-route-id="@item.ID">Güncelle</a>
												</div>
												<div>
													<a class="btn btn-danger btn-block waves-effect waves-light" asp-controller="Employee" asp-action="Delete" asp-route-id="@item.ID">Sil</a>
												</div>
												</td>
										</tr>
									}
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<script>

	window.onload = function () {
		initializeDataTable('datatable-buttons-employeeList', 0, 'asc', [0, 1, 2, 3, 4, 5, 6, 7, 8], 'Çalışan Listesi');
	};

</script>