@model List<CategoryViewModel>
@{
	ViewData["Title"] = "CategoryList";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	<div class="col-md-12 mx-auto">
		<div class="card">
			<div class="card-header bg-info">
				<h2 class="text-white">Kategori Listesi</h2>
				</div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-12">
							<table id="basic-datatable" class="table table-striped  nowrap dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="datatable-buttons_info">
							<thead>
							<th rowspan="1" colspan="1">Kategori Adı</th>
							<th rowspan="1" colspan="1">Açıklama </th>
							<th>

							</th>
							
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>
											@item.CategoryName
										</td>
										<td>
											@item.Description
										</td>
										<td>
											<div>
													<a class="btn btn-info waves-effect waves-light" asp-controller="Category" asp-action="Detail" asp-route-id="@item.ID">Detaylar</a>
											</div>
											<div>
													<a class="btn  btn-warning waves-effect waves-light" asp-controller="Category" asp-action="Update" asp-route-id="@item.ID">Güncelle</a>
											</div>
											<div>
													<a class="btn  btn-danger waves-effect waves-light" asp-controller="Category" asp-action="Delete" asp-route-id="@item.ID">Sil</a>
											</div>
											
											
											
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
