@model CategoryViewModel
@{
	ViewData["Title"] = "Update";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row mx-4">
	<div class="col-md-12">
		<div class="card card-primary">
			<div class="card-header">
				<div class="form-group">
					<label>Kategori Seçiniz</label>
					<select class="form-control" onchange="redirectToSelectedPage(this)">
						@foreach (var item in ViewBag.CategoryList)
						{
							@if (Model == null)
							{
								<option value="@item.ID" href="@item.ID">@item.CategoryName</option>
							}
							else if (item.ID == Model.ID)
							{
								<option value="@item.ID" selected>@item.CategoryName</option>
							}
							else
							{
								<option value="@item.ID" href="@item.ID">@item.CategoryName</option>
							}
						}
					</select>
				</div>
			</div>
			<form method="post">
				<div class="card-body">
					<div asp-validation-summary="All">
					</div>
					<div class="form-group">
						<label asp-for="ID"></label>
						<input type="text" class="form-control" asp-for="@Model.ID" disabled />
					</div>
					<div class="form-group">
						<label asp-for="CategoryName"></label>
						<input type="text" class="form-control" asp-for="@Model.CategoryName">
					</div>
					<div class="form-group">
						<label asp-for="Description"></label>
						<textarea class="form-control" asp-for="@Model.Description" rows="3" cols="4"></textarea>
					</div>
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						@if (Model != null && Model.IsActive == true)
						{
							<label class="btn bg-olive active">
								<input type="radio" name="IsActive" id="option_b1" autocomplete="off" checked="checked" value="true">
								Aktif
							</label>
							<label class="btn bg-olive">
								<input type="radio" name="IsActive" id="option_b2" autocomplete="off" value="false">
								Pasif
							</label>
						}
						else
						{
							<label class="btn bg-olive active">
								<input type="radio" name="IsActive" id="option_b1" autocomplete="off" value="true">
								Aktif
							</label>
							<label class="btn bg-olive">
								<input type="radio" name="IsActive" id="option_b2" autocomplete="off" checked="checked" value="false">
								Pasif
							</label>
						}
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-block bg-gradient-warning" type="submit">Güncelle</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	function redirectToSelectedPage(selectElement) {
		// Seçili değeri al
		var selectedValue = selectElement.value;

		// Yönlendirme yapmak istediğiniz URL'yi oluşturun
		var redirectUrl = '/Admin/Category/Update/' + selectedValue;

		// Yönlendirme işlemi
		window.location.href = redirectUrl;
	}
</script>