@model CategoryViewModel
@{
	ViewData["Title"] = "Update";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	<div class="col-md-12 mx-auto">
		<div class="card">
			<div class="card-header bg-info">
				<div class="form-group">
					<h2 class="text-white">Kategori Seçiniz</h2>
					<select class="form-control" data-toggle="select2" onchange="redirectToSelectedPage(this)">
						@foreach (var item in ViewBag.CategoryList)
						{
							@if (Model == null)
							{
								<option value="@item.ID" href="@item.ID">@item.CategoryName</option>
							}
							else if (item.ID == Model.ID)
							{
								<option value="@item.ID" selected>@item.CategoryName</option>
							}
							else
							{
								<option value="@item.ID" href="@item.ID">@item.CategoryName</option>
							}
						}
					</select>
				</div>
			</div>
			@if(Model != null)
			{
				<form method="post" asp-route-ID="@Model.ID">
					<div class="card-body">
						<div asp-validation-summary="All">
						</div>
						<div class="form-group">
							<label asp-for="ID"></label>
							<input type="text" class="form-control" value="@Model.ID" disabled />
						</div>
						<div class="form-group">
							<label asp-for="CategoryName"></label>
							<input type="text" class="form-control" asp-for="@Model.CategoryName">
						</div>
						<div class="form-group">
							<label asp-for="Description"></label>
							<textarea class="form-control" asp-for="@Model.Description" rows="3" cols="4"></textarea>
						</div>
					</div>
					<div class="card-footer">
						<button class="btn btn-warning btn-block waves-effect waves-light" type="submit">Güncelle</button>
					</div>
				</form>
			}
		</div>
	</div>
</div>

<script>
	function redirectToSelectedPage(selectElement) {
		// Seçili değeri al
		var selectedValue = selectElement.value;

		// Yönlendirme yapmak istediğiniz URL'yi oluşturun
		var redirectUrl = '/Admin/Category/Update/' + selectedValue;

		// Yönlendirme işlemi
		window.location.href = redirectUrl;
	}
</script>