@using Teknoroma.Application.Features.Customers.Models

@model List<CustomerViewModel>
@{
	ViewData["Title"] = "CustomerList";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	<div class="col-12">
		<div class="card card-primary">
			<div class="card-header">
				<h1>Müşteri Listesi</h1>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered table-hover dataTable dtr-inline">
							<thead>
							<th rowspan="1" colspan="1">İsim</th>
							<th rowspan="1" colspan="1">İletşim Kurulacak Kişi</th>
							<th rowspan="1" colspan="1">İletşim Kurulacak Kişinin Departmanı</th>
							<th rowspan="1" colspan="1">Telefon Numarası</th>
							<th rowspan="1" colspan="1">Adres</th>
							<th rowspan="1" colspan="1">Bireysel/Kurumsal</th>
							<th>

							</th>
							</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>
											@item.FullName
										</td>
										<td>
											@item.ContactName
										</td>
										<td>
											@item.ContactTitle
										</td>
										<td>
											@item.PhoneNumber
										</td>
										<td>
											@item.Address
										</td>
										<td>
											@item.Invoice
										</td>
										<td>
											<a class="btn bg-gradient-info" asp-controller="Customer" asp-action="Detail" asp-route-id="@item.ID">Detaylar</a>
											<a class="btn bg-gradient-warning" asp-controller="Customer" asp-action="Update" asp-route-id="@item.ID">Güncelle</a>
											<a class="btn bg-gradient-danger" asp-controller="Customer" asp-action="Delete" asp-route-id="@item.ID">Sil</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div><div class="row">
					<div class="col-sm-12 col-md-5">
						<div>
							@if (Model != null)
							{
								@Model.Count()
							}
							else
							{
								<a>0</a>
							}
							adet müşteri bulunmaktadır.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

