@using Teknoroma.Application.Features.Products.Models
@model List<ProductHomePageListViewModel>
@{
	ViewData["Title"] = "Anasayfa - Teknoroma";
}

<!-- Section-->
<div class="row mx-auto">
	<section class="py-5">
		<div class="container px-4 px-lg-5 mt-5 d-flex">
			<div class="col-md-9">
				<div class="row gx-4 gx-lg-3 row-cols-2 row-cols-md-3 row-cols-xl-3 ">
					@foreach (var item in Model)
					{
						<div class="col mb-5">
							<div class="card h-100">
								<div class="col-md-12 d-flex">
									<div class="col-md-6">
										<!-- Category badge-->
										<div class="badge bg-success text-white position-absolute" style="top: 0.5rem; left: 0.5rem">@item.CategoryName</div>
									</div>
									<div class="col-md-6">
										<!-- Brand badge-->
										<div class="badge bg-info text-white position-absolute" style="top: 0.5rem; right: 0.5rem">@item.BrandName</div>
									</div>
								</div>
							

							<!-- Product image-->
							<img class="card-img-top" src="/images/product/@item.ImagePath" width="100%" height="250px" alt="..." />

							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">@item.ProductName</h5>
									<!-- Product price-->
									@*<span class="text-muted text-decoration-line-through">$50.00</span>*@
									@item.UnitPrice ₺
								</div>
							</div>

							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center">
									<a asp-area="" asp-controller="Product" asp-route-id="@item.ID" class="btn btn-outline-dark mt-auto">Daha Fazla</a>
								</div>

							</div>
						</div>
					</div>
					}
			</div>
		</div>

		<!--Category-->

		<div class="col-md-3 mx-3">
			<div class="card">
				<div class="card-header bg-info">
					<h3 style="color:white;">Kategoriler</h3>
				</div>
				<div class="card-body">
						@if (ViewBag.CategoryList != null)
						{
						<div class="list-group">
							<a asp-action="Index" class="list-group-item list-group-item-action">Hepsi</a>
								@foreach (var item in ViewBag.CategoryList)
								{
								<a asp-action="Index" asp-route-categoryName="@item.CategoryName" class="list-group-item list-group-item-action">@item.CategoryName</a>
								}

						</div>
						}
				</div>
			</div>
		</div>
</div>
	</section>
</div>
