@using Teknoroma.Application.Features.Branches.Models
@model List<BranchListViewModel>

@{
	ViewData["Title"] = "BranchList";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	<div class="col-md-12 mx-auto">
		<div class="card">
			<div class="card-header bg-info">
				<h2 class="text-white">Şube Listesi</h2>
			</div>
			<div class="card-body">

				<div class="row">
					<div class="col-sm-12">
						<table id="datatable-buttons" width="100%" class="table table-striped nowrap no-footer dtr-inline collapsed" role="grid" aria-describedby="basic-datatable_info">
							<thead>
								<tr>
									<th rowspan="1" colspan="1">Şube Adı</th>
									<th rowspan="1" colspan="1">Telefon Numarası</th>
									<th rowspan="1" colspan="1">Adres</th>
									<th rowspan="1" colspan="1">Açıklama</th>
									<th>

									</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>
											@item.BranchName
										</td>
										<td>
											@item.PhoneNumber
										</td>
										<td>
											@item.Address
										</td>
										<td>
											@item.Description
										</td>
										<td>
											<div>
												<a class="btn btn-info btn-block waves-effect waves-light" asp-controller="Branch" asp-action="Detail" asp-route-id="@item.ID">Detaylar</a>
											</div>
											<div>
												<a class="btn btn-warning btn-block waves-effect waves-light" asp-controller="Branch" asp-action="Update" asp-route-id="@item.ID">Güncelle</a>
											</div>
											<div>
												<a class="btn btn-danger btn-block waves-effect waves-light" asp-controller="Branch" asp-action="Delete" asp-route-id="@item.ID">Sil</a>
											</div>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<script>

	window.onload = function () {
		initializeDataTable('datatable-buttons', 0, 'asc', [0, 1,2,3], "Şube Listesi");
	};

</script>