@using Teknoroma.Application.Features.Branches.Models
@model BranchViewModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="card">
            <div class="card-header bg-info">
                <div class="form-group">
                    <h2 class="text-white">Şube Seçiniz</h2>
                    <select class="form-control" data-toggle="select2" onchange="redirectToSelectedPage(this)">
                        @foreach (var branch in ViewBag.BranchList)
                        {
                            @if (Model == null)
                            {
                                <option value="@branch.ID" href="@branch.ID">@branch.BranchName</option>
                            }
                            else if (branch.ID == Model.ID)
                            {
                                <option value="@branch.ID" selected>@branch.BranchName</option>
                            }
                            else
                            {
                                <option value="@branch.ID" href="@branch.ID">@branch.BranchName</option>
                            }
                        }

                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mx-auto">
                   @if(Model != null)
                    {
                        <form method="post" enctype="multipart/form-data" asp-route-ID="@Model.ID">
                            <div class="card-body">
                                <div asp-validation-summary="All">
                                </div>
                                <div class="form-group">
                                    <label asp-for="ID"></label>
                                    <input type="text" class="form-control" value="@Model.ID" disabled>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BranchName"></label>
                                    <input type="text" class="form-control" asp-for="@Model.BranchName">
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhoneNumber"></label>
                                    <input type="text" class="form-control" asp-for="@Model.PhoneNumber">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Address"></label>
                                    <textarea class="form-control" cols="4" rows="3" asp-for="@Model.Address"></textarea>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description"></label>
                                    <textarea class="form-control" cols="4" rows="3" asp-for="@Model.Description"></textarea>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-warning btn-block waves-effect waves-light">Güncelle</button>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function redirectToSelectedPage(selectElement) {
        // Seçili değeri al
        var selectedValue = selectElement.value;

        // Yönlendirme yapmak istediğiniz URL'yi oluşturun
        var redirectUrl = '/Admin/Branch/Update/' + selectedValue;

        // Yönlendirme işlemi
        window.location.href = redirectUrl;
    }
</script>
