﻿@using Teknoroma.Application.Features.Stocks.Models


@model List<StockListViewModel>
@{
	ViewData["Title"] = "Satış Yap - Teknoroma";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
	decimal totalPrice = 0;
	string branchName = ViewData["BranchName"].ToString();
}
<div class="row">
	<div class="col-md-12 mx-auto">
		<div class="card">
			<div class="card-header bg-info">
				<div class="form-group">
					<h5 class="text-white">Stok Takip Raporu</h5>
					<h3 style="color:green">@branchName</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="card-body">
						<table id="datatable-buttons-orderProductList" width="100%" class="table table-striped nowrap no-footer dtr-inline collapsed" role="grid" aria-describedby="basic-datatable_info">
							<thead>
							<tr>
									<th rowspan="1" colspan="1">Resim</th>
									<th rowspan="1" colspan="1">Ürün Adı</th>
									<th rowspan="1" colspan="1">Marka Adı</th>
									<th rowspan="1" colspan="1">Fiyat</th>
									<th rowspan="1" colspan="1">Stok Miktarı</th>
									<th rowspan="1" colspan="1">
										Sepete Ekle
									</th>
							</tr>
							
							</thead>
							<tbody>
								@if (Model != null)
								{
									@foreach (var product in Model)
									{
										<tr class="product-row">
											<td>
												<img src="~/images/product/@product.ImagePath" width="125" height="100" />
											</td>
											<td>
												@product.ProductName
											</td>
											<td>
												@product.BrandName
											</td>
											<td>
												@product.UnitPrice ₺
											</td>
											<td>
												@product.UnitsInStock
											</td>
											<td>
												<form id="CartAdded"  method="post" asp-controller="Order" asp-action="AddToCart" asp-route-id="@product.ProductID">
													<input class="form-control text-center me-4" name="quantity" id="quantity$@product.ProductID" type="num" value="1" style="max-width: 4rem">
													<button class="btn btn-info btn-sm waves-effect waves-light" type="button"
															data-units-in-stock="@product.UnitsInStock"
															data-input-id="quantity$@product.ProductID"
															onclick="showSweetAlertCartAdded(this)">
														Sepete Ekle
													</button>
												</form>
											</td>
										</tr>
									}
								}
							</tbody>
						</table>
					</div>
					<div class="col-md-4">
					</div>
				</div>
				<div class="col-md-4">
					<div class="card-header bg-info">
						<h3 class="text-white">Sepet</h3>
					</div>
					<hr />
					<div class="card-body">
						<div class="row mx-1 d-flex">
							@if (ViewBag.CartList != null)
							{
								@foreach (var item in ViewBag.CartList)
								{
									totalPrice += item.Value.Subtotal;
									<div class="col-md-12 d-flex" style="border-bottom:solid;border-bottom-color:lightgray;">
										<div class="col-md-2">
											<img src="~/images/product/@item.Value.ImagePath" width="50px" height="50px" />
										</div>
										<div class="col-md-4">
											<h5>@item.Value.ProductName</h5>
										</div>
										<div class="col-md-5">
											<div><span>Adet: @item.Value.Quantity</span></div>
											<div><span>Birim Fiyat: @item.Value.UnitPrice ₺</span></div>
											<div><span>Toplam Fiyat: @item.Value.Subtotal ₺</span></div>
										</div>
										<div class="my-auto">
											<form id="cartItemDeleted" method="post" asp-controller="Order" asp-action="CartItemDelete" asp-route-id="@item.Value.ID">
												<button class="btn btn-danger btn-sm waves-effect waves-light" type="submit">X</button>
											</form>
										</div>
									</div>
								}
							}
						</div>
					</div>
					<div class="card-footer d-flex">
						<div class="col-md-6">
							<h3>Toplam Tutar:</h3>
						</div>
						<div class="col-md-6 text-right">
							<h4>@totalPrice ₺</h4>
						</div>
					</div>
					<div>

						@if (ViewBag.CartList != null)
						{
							<button type="button" class="btn btn-success btn-block waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Siparişi Tamamla</button>

							<div class="modal fade bd-example-modal-lg" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Müşteri Seçiniz</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<form id="CompleteCart" method="post" asp-controller="Order" asp-action="CompleteCart">
												<div class="form-group">
													<label>Müşteri Telefon Numarası</label>
													<select class="form-control" data-toggle="select2" aria-label="Default select example" name="customerId" data-dropdown-parent="#exampleModal" style="width:100%">
														@if (ViewBag.CustomerList != null)
														{
															@foreach (var customer in ViewBag.CustomerList)
															{
																<option value="@customer.ID">@customer.PhoneNumber</option>
															}
														}
													</select>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light" data-bs-dismiss="modal">İptal</button>
													<button type="submit" class="btn btn-info btn-sm waves-effect waves-light">Siparişi Oluştur</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<script>


	function redirectToSelectedPage(selectElement) {
		// Seçili değeri al
		var selectedValue = selectElement.value;

		// Yönlendirme yapmak istediğiniz URL'yi oluşturun
		var redirectUrl = '/Admin/Order/Index/' + selectedValue;

		// Yönlendirme işlemi
		window.location.href = redirectUrl;
	}
</script>

<script>

	window.onload = function () {
		initializeDataTable('datatable-buttons-orderProductList', 1 , 'asc', [1, 2, 3, 4], '@branchName - Stok Listesi');
	};

</script>