@using Teknoroma.Application.Features.Orders.Models
@model List<OrderListViewModel>
@{
    ViewData["Title"] = "OrderList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row mx-4">
	<div class="col-md-12 mx-auto">
		<div class="card card-primary">
			<div class="card-header">
				<div class="form-group">
					<div class="form-group">
						<label>Şubeniz</label>
						<h3>@ViewBag.Branch.Text</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="card-header">
						<label>Ürün Ara</label>
						<input type="text" class="form-control" id="productSearchInput" oninput="filterProducts()" />
					</div>
					<div class="card-body">
						<table class="table table-bordered table-hover dataTable dtr-inline">
							<thead>
							<th rowspan="1" colspan="1">Sipariş Numarası</th>
							<th rowspan="1" colspan="1">Şube</th>
							<th rowspan="1" colspan="1">Müşteri Adı</th>
							<th rowspan="1" colspan="1">Müşteri Telefon Numarası</th>
							<th rowspan="1" colspan="1">Toplam Ürün Adeti</th>
							<th rowspan="1" colspan="1">Toplam Fiyat</th>
							<th rowspan="1" colspan="1">Durum</th>
							<th rowspan="1" colspan="1">Sipariş Tarihi</th>
							<th rowspan="1" colspan="1">İşlem Yapan Personel</th>
							<th>

							</th>
							</tr>
							</thead>
							<tbody>
								@if (Model != null)
								{
									@foreach (var order in Model)
									{
										<tr class="product-row">
											<td>
												@order.ID
											</td>
											<td>
												@order.BranchName
											</td>
											<td>
												@order.CustomerName
											</td>
											<td>
												@order.CustomerPhoneNumber
											</td>
											<td>
												@order.TotalProductQuantity
											</td>
											<td>
												@order.TotalPrice
											</td>
											<td>
												@order.OrderStatu
											</td>
											<td>
												@order.OrderDate
											</td>
											<td>
												@order.UserName
											</td>
											<td>
												<form method="post">
													<a class="btn bg-gradient-primary" asp-controller="Order" asp-action="OrderReady" asp-route="@order.ID">Hazırlandı</a>
													<a class="btn bg-gradient-success" asp-controller="Order" asp-action="OrderDelivered" asp-route="@order.ID">Teslim Edildi</a>
												</form>
											</td>
										</tr>
									}
								}
							</tbody>
						</table>
					</div>
					<div class="col-md-4">
					</div>
				</div>
			</div>
			<div class="row mx-4">
				<div class="col-sm-12 col-md-5">
					<div>
						@if (Model != null)
						{
							@Model.Count()
						}
						else
						{
							<a>0</a>
						}
						adet sipariş bulunmaktadır.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
