@using Teknoroma.Application.Features.Orders.Models
@model List<OrderListViewModel>
@{
	ViewData["Title"] = "OrderList";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	string branchName = ViewBag.Branch.Text;
}
<div class="row">
	<div class="col-md-12 mx-auto">
		<div class="card">
			<div class="card-header bg-info">
				<div class="form-group">
					<h5 class="text-white">Sipariş/Satış Listesi</h5>
					<h3 style="color:green">@ViewBag.Branch.Text</h3>
				</div>
			</div>
			<div class="card-body">
				<div class="col-sm-12">
					<table id="datatable-buttons-orderList" width="100%" class="table table-striped nowrap no-footer dtr-inline collapsed" role="grid" aria-describedby="basic-datatable_info">
						<thead>
						<th rowspan="1" colspan="1">Sipariş Numarası</th>
						<th rowspan="1" colspan="1">Şube</th>
						<th rowspan="1" colspan="1">Müşteri Adı</th>
						<th rowspan="1" colspan="1">Müşteri Tel No</th>
						<th rowspan="1" colspan="1">Toplam Ürün Adeti</th>
						<th rowspan="1" colspan="1">Toplam Fiyat</th>
						<th rowspan="1" colspan="1">Durum</th>
						<th rowspan="1" colspan="1">Sipariş Tarihi</th>
						<th rowspan="1" colspan="1">Personel</th>
						<th>

						</th>
						<th>

						</th>

						</thead>
						<tbody>
							@if (Model != null)
							{
								@foreach (var order in Model)
								{
									<tr>
										<td>
											@order.ID
										</td>
										<td>
											@order.BranchName
										</td>
										<td>
											@order.CustomerName
										</td>
										<td>
											@order.CustomerPhoneNumber
										</td>
										<td>
											@order.TotalProductQuantity
										</td>
										<td>
											@order.TotalPrice
										</td>

										@if (order.OrderStatu == Teknoroma.Domain.Enums.OrderStatu.GettingReady)
										{
											<td style="background-color:darkred; color:white">
												1- Hazırlanıyor
											</td>
										}
										else if (order.OrderStatu == Teknoroma.Domain.Enums.OrderStatu.Ready)
										{
											<td style="background-color:dodgerblue; color:white">
												2- Hazırlandı
											</td>
										}
										else if(order.OrderStatu == Teknoroma.Domain.Enums.OrderStatu.Delivered)
										{
											<td>
												3 - Teslim Edildi
											</td>
										}
										<td>
											@order.OrderDate
										</td>
										<td>
											@order.UserName
										</td>
										<td>
											<div>
												<a class="btn btn-danger btn-sm waves-effect waves-light" asp-controller="Order" asp-action="UpdateOrderStatu" asp-route-orderId="@order.ID" asp-route-orderStatu="@Teknoroma.Domain.Enums.OrderStatu.GettingReady">Hazırlanıyor</a>
											</div>
											<div>
												<a class="btn btn-info btn-sm waves-effect waves-light" asp-controller="Order" asp-action="UpdateOrderStatu" asp-route-orderId="@order.ID" asp-route-orderStatu="@Teknoroma.Domain.Enums.OrderStatu.Ready">Hazırlandı</a>
											</div>
											<div>
												<a class="btn btn-success btn-sm waves-effect waves-light" asp-controller="Order" asp-action="UpdateOrderStatu" asp-route-orderId="@order.ID" asp-route-orderStatu="@Teknoroma.Domain.Enums.OrderStatu.Delivered">Teslim Edildi</a>
											</div>
										</td>

										<td>

											<!-- Button trigger modal -->
											<button type="button" class="btn btn-info btn-sm waves-effect waves-light" data-toggle="modal" data-target="#exampleModal-@order.ID" onclick="initializeDataTable('datatable-buttons-orderDetail-@order.ID', 1, 'asc',[1,2,3,4],'@order.ID - Sipariş Listesi')">
												Sipariş Detayı
											</button>
											<!-- Modal -->
											<div class="container">
												<div class="modal fade" id="exampleModal-@order.ID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
													<div class="modal-dialog modal-fullscreen">
														<div class="modal-content mx-auto" style="width:100%; position:fixed; top:0; bottom:0; left:0; right:0;">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleModalLabel">@order.ID Numaralı Sipariş Detayı</h5>
																<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
															</div>

															<div class="modal-body">
																<table id="datatable-buttons-orderDetail-@order.ID" width="100%" class="table table-striped nowrap dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="datatable-buttons_info">
																	<thead>
																	<th rowspan="1" colspan="1">Resim</th>
																	<th rowspan="1" colspan="1">Ürün</th>
																	<th rowspan="1" colspan="1">Sipariş Adeti</th>
																	<th rowspan="1" colspan="1">Fiyat</th>
																	<th rowspan="1" colspan="1">Toplam fiyat</th>
																	<th>

																	</th>
																	<th>

																	</th>
																	</thead>
																	<tbody>

																		@if (Model != null)
																		{
																			@foreach (var orderDetail in order.OrderDetailViewModels)
																			{

																				<tr>
																					<form method="post" asp-controller="Order" asp-action="UpdateOrderDetail" asp-route-orderId="@order.ID" asp-route-productId="@orderDetail.ProductId">
																					<td>
																						<img src="~/images/product/@orderDetail.ImagePath" width="125" height="100" />
																					</td>
																					<td>
																							@orderDetail.ProductName
																					</td>
																					<td> 
																						<div class="mx-4">
																								@orderDetail.Quantity
																						</div> 
																						<div>
																							<input class="form-control text-center me-4" name="quantity" type="number" value="@orderDetail.Quantity" style="max-width: 4rem">
																						</div>
																					</td>
																					<td>
																							@orderDetail.UnitPrice
																					</td>
																					<td>
																							@orderDetail.TotalPrice
																					</td>
																					<td>
																						<button class="btn btn-warning btn-block waves-effect waves-light" type="submit">Güncelle</button>
																					</td>

																					<td>
																						<a class="btn btn-danger btn-block waves-effect waves-light" asp-controller="Order" asp-action="DeleteOrderDetail" asp-route-orderId="@order.ID" asp-route-productId="@orderDetail.ProductId">Sil</a>
																					</td></form>
																				</tr>
																			}
																		}

																	</tbody>
																</table>

															</div>

															<div class="modal-footer">
																<button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">Kapat</button>
															</div>
														</div>
													</div>
												</div>
											</div>
											<a class="btn btn-danger btn-sm waves-effect waves-light" asp-controller="Order" asp-action="Delete" asp-route-id="@order.ID">Siparişi Sil</a>
										</td>

									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>
<script>

	window.onload = function () {
		initializeDataTable('datatable-buttons-orderList', 6, 'asc', [0, 1,2,3,4,5,6,7,8], '@branchName Sipariş Listesi');
	};

</script>