@using Teknoroma.Application.Features.Orders.Models

@model SalesReportViewModel
@{
	ViewData["Title"] = "Satış Raporları - Teknoroma";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	<!--Satılan Ürün Sayıları-->
	<div class="col-md-12">
		<div class="card">
			<div class="row my-2">
				<div class="col-xl-2">
					<div class="card bg-danger border-danger">
						<div class="card-body">
							<div class="mb-4">
								<span class="badge badge-soft-light float-right">Ürün</span>
								<h5 class="card-title mb-0 text-white">En Çok Satış Yapılan</h5>
							</div>
							<div class="row d-flex align-items-center mb-4">
								<div class="col-12">
									<h4 class="d-flex align-items-center mb-0 text-white">
										@Model.BestSellingProductName
									</h4>
									<div>
										<span class="d-flex align-items-center mb-0 text-white">
											@Model.BestSellingProductQuantity Adet
										</span>
									</div>
								</div>
							</div>
							<div class="progress badge-soft-light shadow-sm" style="height: 5px;">
								<div class="progress-bar bg-light" role="progressbar" style="width: 100%;"></div>
							</div>
						</div>
						<div class="card-footer">
							<a class="btn btn-light btn-block waves-effect waves-light" style="color:red;" asp-controller="Product" asp-action="ProductReport">Detaylı Rapor</a>
						</div>
					</div>
				</div>
				<div class="col-xl-2">
					<div class="card bg-warning border-warning">
						<div class="card-body">
							<div class="mb-4">
								<span class="badge badge-soft-light float-right">Kategori</span>
								<h5 class="card-title mb-0 text-white">En Çok Satış Yapılan</h5>
							</div>
							<div class="row d-flex align-items-center mb-4">
								<div class="col-12">
									<h4 class="d-flex align-items-center mb-0 text-white">
										@Model.BestSellingCategoryName
									</h4>
									<div>
										<span class="d-flex align-items-center mb-0 text-white">
											@Model.BestSellingCategoryQuantity Adet
										</span>
									</div>
								</div>
							</div>
							<div class="progress badge-soft-light shadow-sm" style="height: 5px;">
								<div class="progress-bar bg-light" role="progressbar" style="width: 100%;"></div>
							</div>
						</div>
						<div class="card-footer">
							<a class="btn btn-light btn-block waves-effect waves-light" style="color:orange;" asp-controller="Category" asp-action="CategoryReport">Detaylı Rapor</a>
						</div>
					</div>
				</div>
				<div class="col-xl-2">
					<div class="card bg-info border-info">
						<div class="card-body">
							<div class="mb-4">
								<span class="badge badge-soft-light float-right">Şube</span>
								<h5 class="card-title mb-0 text-white">En Çok Satış Yapan</h5>
							</div>
							<div class="row d-flex align-items-center mb-4">
								<div class="col-8">
									<div class="col-12">
										<h4 class="d-flex align-items-center mb-0 text-white">
											@Model.BestSellingBranchName
										</h4>
										<div>
											<span class="d-flex align-items-center mb-0 text-white">
												@Model.BestSellingBranchQuantity Adet
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="progress badge-soft-light shadow-sm" style="height: 5px;">
								<div class="progress-bar bg-light" role="progressbar" style="width: 100%;"></div>
							</div>
						</div>
						<div class="card-footer">
							<a class="btn btn-light btn-block waves-effect waves-light" style="color:deepskyblue;" asp-controller="Branch" asp-action="BranchReport">Detaylı Rapor</a>
						</div>
					</div>
				</div>
				<div class="col-xl-2">
					<div class="card bg-success border-success">
						<div class="card-body">
							<div class="mb-4">
								<span class="badge badge-soft-light float-right">Müşteri</span>
								<h5 class="card-title mb-0 text-white">En Çok Sipariş Veren</h5>
							</div>
							<div class="row d-flex align-items-center mb-4">
								<div class="col-8">
									<div class="col-12">
										<h4 class="d-flex align-items-center mb-0 text-white">
											@Model.BestSellingCustomerName
										</h4>
										<div>
											<span class="d-flex align-items-center mb-0 text-white">
												@Model.BestSellingCustomerQuantity Adet
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="progress badge-soft-light shadow-sm" style="height: 5px;">
								<div class="progress-bar bg-light" role="progressbar" style="width: 100%;"></div>
							</div>
						</div>
						<div class="card-footer">
							<a class="btn btn-light btn-block waves-effect waves-light" style="color:limegreen;" asp-controller="Customer" asp-action="CustomerReport">Detaylı Rapor</a>
						</div>
					</div>
				</div>
				<div class="col-xl-2">
					<div class="card bg-secondary border-secondary">
						<div class="card-body">
							<div class="mb-4">
								<span class="badge badge-soft-light float-right">Çalışan</span>
								<h5 class="card-title mb-0 text-white">En Çok Satış(Sipariş) Yapan</h5>
							</div>
							<div class="row d-flex align-items-center mb-4">
								<div class="col-12">
									<h4 class="d-flex align-items-center mb-0 text-white">
										@Model.BestSellingEmployeeName
									</h4>
									<div>
										<span class="d-flex align-items-center mb-0 text-white">
											@Model.BestSellingEmployeeQuantity Adet
										</span>
									</div>
								</div>
							</div>
							<div class="progress badge-soft-light shadow-sm" style="height: 5px;">
								<div class="progress-bar bg-light" role="progressbar" style="width: 100%;"></div>
							</div>
						</div>
						<div class="card-footer">
							<a class="btn btn-light btn-block waves-effect waves-light" style="color:royalblue;" asp-controller="Employee" asp-action="EmployeeReport">Detaylı Rapor</a>
						</div>
					</div>
				</div>
				<div class="col-xl-2">
					<div class="card bg-dark border-dark">
						<div class="card-body">
							<div class="mb-4">
								<span class="badge badge-soft-light float-right">Marka</span>
								<h5 class="card-title mb-0 text-white">En Çok Satılan Marka</h5>
							</div>
							<div class="row d-flex align-items-center mb-4">
								<div class="col-12">
									<h4 class="d-flex align-items-center mb-0 text-white">
										@Model.BestSellingBrandName
									</h4>
									<div>
										<span class="d-flex align-items-center mb-0 text-white">
											@Model.BestSellingBrandQuantity Adet
										</span>
									</div>
								</div>
							</div>
							<div class="progress badge-soft-light shadow-sm" style="height: 5px;">
								<div class="progress-bar bg-light" role="progressbar" style="width: 100%;"></div>
							</div>
						</div>
						<div class="card-footer">
							<a class="btn btn-light btn-block waves-effect waves-light" style="color:darkslateblue;" asp-controller="Brand" asp-action="BrandReport">Detaylı Rapor</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--En Çok Satış Yapan Çalışanlar-->
	<div class="col-md-12">
		<div class="card">
			<div class="row my-2">
				<div class="col-xl-2">
					<div class="card bg-danger border-danger">
						<div class="card-body">
							<div class="mb-4">
								<span class="badge badge-soft-light float-right">Ürün</span>
								<h5 class="card-title mb-0 text-white">En Çok Kazanç Elde Edilen</h5>
							</div>
							<div class="row d-flex align-items-center mb-4">
								<div class="col-12">
									<h4 class="d-flex align-items-center mb-0 text-white">
										@Model.BestEarningProductName
									</h4>
									<div>
										<span class="d-flex align-items-center mb-0 text-white">
											@Model.BestEarningProductPrice ₺
										</span>
									</div>
								</div>
							</div>
							<div class="progress badge-soft-light shadow-sm" style="height: 5px;">
								<div class="progress-bar bg-light" role="progressbar" style="width: 100%;"></div>
							</div>
						</div>
						<div class="card-footer">
							<a class="btn btn-light btn-block waves-effect waves-light" style="color:red;" asp-controller="Product" asp-action="ProductReport">Detaylı Rapor</a>
						</div>
					</div>
				</div>
				<div class="col-xl-2">
					<div class="card bg-warning border-warning">
						<div class="card-body">
							<div class="mb-4">
								<span class="badge badge-soft-light float-right">Kategori</span>
								<h5 class="card-title mb-0 text-white">En Çok Kazanç Elde Edilen</h5>
							</div>
							<div class="row d-flex align-items-center mb-4">
								<div class="col-12">
									<h4 class="d-flex align-items-center mb-0 text-white">
										@Model.BestEarningCategoryName
									</h4>
									<div>
										<span class="d-flex align-items-center mb-0 text-white">
											@Model.BestEarningCategoryPrice ₺
										</span>
									</div>
								</div>
							</div>
							<div class="progress badge-soft-light shadow-sm" style="height: 5px;">
								<div class="progress-bar bg-light" role="progressbar" style="width: 100%;"></div>
							</div>
						</div>
						<div class="card-footer">
							<a class="btn btn-light btn-block waves-effect waves-light" style="color:orange;" asp-controller="Category" asp-action="CategoryReport">Detaylı Rapor</a>
						</div>
					</div>
				</div>
				<div class="col-xl-2">
					<div class="card bg-info border-info">
						<div class="card-body">
							<div class="mb-4">
								<span class="badge badge-soft-light float-right">Şube</span>
								<h5 class="card-title mb-0 text-white">En Çok Kazanç Elde Eden</h5>
							</div>
							<div class="row d-flex align-items-center mb-4">
								<div class="col-12">
									<h4 class="d-flex align-items-center mb-0 text-white">
										@Model.BestEarningBranchName
									</h4>
									<div>
										<span class="d-flex align-items-center mb-0 text-white">
											@Model.BestEarningBranchPrice ₺
										</span>
									</div>
								</div>
							</div>
							<div class="progress badge-soft-light shadow-sm" style="height: 5px;">
								<div class="progress-bar bg-light" role="progressbar" style="width: 100%;"></div>
							</div>
						</div>
						<div class="card-footer">
							<a class="btn btn-light btn-block waves-effect waves-light" style="color:deepskyblue;" asp-controller="Branch" asp-action="BranchReport">Detaylı Rapor</a>
						</div>
					</div>
				</div>
				<div class="col-xl-2">
					<div class="card bg-success border-success">
						<div class="card-body">
							<div class="mb-4">
								<span class="badge badge-soft-light float-right">Müşteri</span>
								<h5 class="card-title mb-0 text-white">En Çok Kazanç Elde Edilen</h5>
							</div>
							<div class="row d-flex align-items-center mb-4">
								<div class="col-12">
									<h4 class="d-flex align-items-center mb-0 text-white">
										@Model.BestEarningCustomerName
									</h4>
									<div>
										<span class="d-flex align-items-center mb-0 text-white">
											@Model.BestEarningCustomerPrice ₺
										</span>
									</div>
								</div>
							</div>
							<div class="progress badge-soft-light shadow-sm" style="height: 5px;">
								<div class="progress-bar bg-light" role="progressbar" style="width: 100%;"></div>
							</div>
						</div>
						<div class="card-footer">
							<a class="btn btn-light btn-block waves-effect waves-light" style="color:limegreen;" asp-controller="Customer" asp-action="CustomerReport">Detaylı Rapor</a>
						</div>
					</div>
				</div>
				<div class="col-xl-2">
					<div class="card bg-secondary border-secondary">
						<div class="card-body">
							<div class="mb-4">
								<span class="badge badge-soft-light float-right">Çalışan</span>
								<h5 class="card-title mb-0 text-white">En Çok Kazanç Elde Eden</h5>
							</div>
							<div class="row d-flex align-items-center mb-4">
								<div class="col-12">
									<h4 class="d-flex align-items-center mb-0 text-white">
										@Model.BestEarningEmployeeName
									</h4>
									<div>
										<span class="d-flex align-items-center mb-0 text-white">
											@Model.BestEarningEmployeePrice ₺
										</span>
									</div>
								</div>
							</div>
							<div class="progress badge-soft-light shadow-sm" style="height: 5px;">
								<div class="progress-bar bg-light" role="progressbar" style="width: 100%;"></div>
							</div>
						</div>
						<div class="card-footer">
							<a class="btn btn-light btn-block waves-effect waves-light" style="color:dodgerblue;" asp-controller="Employee" asp-action="EmployeeReport">Detaylı Rapor</a>
						</div>
					</div>
				</div>
				<div class="col-xl-2">
					<div class="card bg-dark border-dark">
						<div class="card-body">
							<div class="mb-4">
								<span class="badge badge-soft-light float-right">Marka</span>
								<h5 class="card-title mb-0 text-white">En Çok Kazanç Elde Edilen</h5>
							</div>
							<div class="row d-flex align-items-center mb-4">
								<div class="col-12">
									<h4 class="d-flex align-items-center mb-0 text-white">
										@Model.BestEarningBrandName
									</h4>
									<div>
										<span class="d-flex align-items-center mb-0 text-white">
											@Model.BestEarningBrandPrice ₺
										</span>
									</div>
								</div>
							</div>
							<div class="progress badge-soft-light shadow-sm" style="height: 5px;">
								<div class="progress-bar bg-light" role="progressbar" style="width: 100%;"></div>
							</div>
						</div>
						<div class="card-footer">
							<a class="btn btn-light btn-block waves-effect waves-light" style="color:darkslateblue;" asp-controller="Brand" asp-action="BrandReport">Detaylı Rapor</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
