@using Teknoroma.Application.Features.StockInputs.Models
@model StockInputViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="card">
            <div class="card-header bg-info">
                <h2 class="text-white">Stok Giriş Detayları</h2>
            </div>
            <div class="row">
                <div class="col-md-3 mx-auto">
                    <form method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div asp-validation-summary="All">
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label asp-for="ID"></label>
                                    <input type="text" class="form-control" asp-for="@Model.ID" disabled>
                                </div>
                                <label asp-for="BranchID"></label>
                                <select class="form-control" aria-label="Default select example" asp-for="BranchID">
                                    @if (ViewBag.BranchList != null)
                                    {
                                        @foreach (var branch in ViewBag.BranchList)
                                        {
                                            <option value="@branch.ID">@branch.BranchName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductID"></label>
                                <select class="form-control" aria-label="Default select example" asp-for="ProductID">
                                    @if (ViewBag.ProductList != null)
                                    {
                                        @foreach (var product in ViewBag.ProductList)
                                        {
                                            <option value="@product.ID">@product.ProductName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="SupplierID"></label>
                                <select class="form-control" aria-label="Default select example" asp-for="SupplierID">
                                    @if (ViewBag.SupplierList != null)
                                    {
                                        @foreach (var supplier in ViewBag.SupplierList)
                                        {
                                            <option value="@supplier.ID">@supplier.CompanyName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="InoviceNumber"></label>
                                <input type="text" class="form-control" asp-for="@Model.InoviceNumber">
                            </div>
                            <div class="form-group">
                                <label asp-for="Quantity"></label>
                                <input type="text" class="form-control" asp-for="@Model.Quantity">
                            </div>
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <textarea class="form-control" cols="4" rows="3" asp-for="@Model.Description"></textarea>
                            </div>
                             <div class="form-group">
                                <label asp-for="StockEntryDate"></label>
                                <input class="form-control" type="text" asp-for="@Model.StockEntryDate" />
                            </div> 
                        </div>
                    </form>
                </div>
                <div class="col-md-9 mx-auto">
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="basic-datatable" class="table table-striped nowrap dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="datatable-buttons_info">
                                        <thead>
                                        <th rowspan="1" colspan="1">Şube Adı</th>
                                        <th rowspan="1" colspan="1">Ürün Adı</th>
                                        <th rowspan="1" colspan="1">Tedarikçi Firma</th>
                                        <th rowspan="1" colspan="1">Fatura No</th>
                                        <th rowspan="1" colspan="1">Adet</th>
                                        <th rowspan="1" colspan="1">Description</th>
                                        <th rowspan="1" colspan="1">İşlem Yapan</th>
                                        <th rowspan="1" colspan="1">Giriş Tarihi</th>

                                        <th>

                                        </th>
                                        
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.StockInputList != null)
                                            {
                                                @foreach (var stockInput in ViewBag.StockInputList)
                                                {
                                                    <tr>
                                                        <td>
                                                            @stockInput.BranchName
                                                        </td>
                                                        <td>
                                                            @stockInput.ProductName
                                                        </td>
                                                        <td>
                                                            @stockInput.CompanyName
                                                        </td>
                                                        <td>
                                                            @stockInput.InoviceNumber
                                                        </td>
                                                        <td>
                                                            @stockInput.Quantity
                                                        </td>
                                                        <td>
                                                            @stockInput.Description
                                                        </td>
                                                        <td>
                                                            @stockInput.AppUserName
                                                        </td>
                                                        <td>
                                                            @stockInput.StockEntryDate
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <a class="btn btn-sm btn-info waves-effect waves-light" asp-controller="StockInput" asp-action="Detail" asp-route-id="@stockInput.ID">Detaylar</a>
                                                            </div>
                                                            <div>
                                                                <a class="btn  btn-sm btn-warning waves-effect waves-light" asp-controller="StockInput" asp-action="Update" asp-route-id="@stockInput.ID">Güncelle</a>
                                                            </div>
                                                            <div>
                                                                <a class="btn  btn-sm btn-danger waves-effect waves-light" asp-controller="StockInput" asp-action="Delete" asp-route-id="@stockInput.ID">Sil</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


