@using Teknoroma.Application.Features.StockInputs.Models
@model List<StockInputListViewModel>
@{
    ViewData["Title"] = "StockInputList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="card">
            <div class="card-header bg-info">
                <h2 class="text-white">Stok Giriş Listesi</h2>
            </div>
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="basic-datatable" class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="datatable-buttons_info">
                                        <thead>
                                        <th rowspan="1" colspan="1">Şube Adı</th>
                                        <th rowspan="1" colspan="1">Ürün Adı</th>
                                        <th rowspan="1" colspan="1">Tedarikçi Firma</th>
                                        <th rowspan="1" colspan="1">Fatura No</th>
                                        <th rowspan="1" colspan="1">Adet</th>
                                        <th rowspan="1" colspan="1">Description</th>
                                        <th rowspan="1" colspan="1">İşlem Yapan</th>
                                        <th rowspan="1" colspan="1">Giriş Tarihi</th>

                                        <th>

                                        </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                @foreach (var stockInput in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @stockInput.BranchName
                                                        </td>
                                                        <td>
                                                            @stockInput.ProductName
                                                        </td>
                                                        <td>
                                                            @stockInput.CompanyName
                                                        </td>
                                                        <td>
                                                            @stockInput.InoviceNumber
                                                        </td>
                                                        <td>
                                                            @stockInput.Quantity
                                                        </td>
                                                        <td>
                                                            @stockInput.Description
                                                        </td>
                                                        <td>
                                                            @stockInput.AppUserName
                                                        </td>
                                                        <td>
                                                            @stockInput.StockEntryDate
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <a class="btn btn-sm btn-info waves-effect waves-light" asp-controller="StockInput" asp-action="Detail" asp-route-id="@stockInput.ID">Detaylar</a>
                                                            </div>
                                                            <div>
                                                                <a class="btn  btn-sm btn-warning waves-effect waves-light" asp-controller="StockInput" asp-action="Update" asp-route-id="@stockInput.ID">Güncelle</a>
                                                            </div>
                                                            <div>
                                                                <a class="btn  btn-sm btn-danger waves-effect waves-light" asp-controller="StockInput" asp-action="Delete" asp-route-id="@stockInput.ID">Sil</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




