@using Teknoroma.Application.Features.Brands.Models
@model BrandViewModel

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-info">
                <div class="form-group">
                    <label style="color:white;">Marka Seçiniz</label>
                    <select class="form-control"  onchange="redirectToSelectedPage(this)">
                        @foreach (var item in ViewBag.BrandList)
                        {
                            @if (Model == null)
                            {
                                <option value="@item.ID" href="@item.ID">@item.BrandName</option>
                            }
                            else if(item.ID != Model.ID)
                            {
                                <option value="@item.ID" href="@item.ID">@item.BrandName</option>
                            }
                            else if (item.ID == Model.ID)
                            {
                                <option value="@item.ID" selected>@item.BrandName</option>

                            }
                        }
                    </select>
                </div>
            </div>
            <form>
                <div class="card-body">
                    <div asp-validation-summary="All">
                    </div>
                    <div class="form-group">
                        <label asp-for="ID"></label>
                        <input type="text" class="form-control" asp-for="@Model.ID" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="BrandName"></label>
                        <input type="text" class="form-control" asp-for="@Model.BrandName">
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input type="text" class="form-control" asp-for="@Model.PhoneNumber">
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea class="form-control" asp-for="@Model.Description" rows="3" cols="4"></textarea>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function redirectToSelectedPage(selectElement) {
        // Seçili değeri al
        var selectedValue = selectElement.value;

        // Yönlendirme yapmak istediğiniz URL'yi oluşturun
        var redirectUrl = '/Admin/Brand/Detail/' + selectedValue; 

        // Yönlendirme işlemi
        window.location.href = redirectUrl;
    }
</script>

