@using Teknoroma.Application.Features.Departments.Models
@model List<DepartmentViewModel>
@{
	ViewData["Title"] = "DepartmentList";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	<div class="col-12">
		<div class="card card-primary">
			<div class="card-header">
				<h1>Departman Listesi</h1>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
							<thead>
							<th rowspan="1" colspan="1">Departman Adı</th>
							<th rowspan="1" colspan="1">Person Sayısı</th>
							<th rowspan="1" colspan="1">Açıklama</th>
							<th>

							</th>
							</tr>
							</thead>
							<tbody>
								@if (Model != null)
								{
									@foreach (var item in Model)
									{
										<tr>
											<td>
												@item.DepartmentName
											</td>
											<td>
												0
											</td>
											<td>
												@item.Description
											</td>
											<td>
												<a class="btn bg-gradient-info" asp-controller="Department" asp-action="Detail" asp-route-id="@item.ID">Detaylar</a>
												<a class="btn bg-gradient-warning" asp-controller="Department" asp-action="Update" asp-route-id="@item.ID">Güncelle</a>
												<a class="btn bg-gradient-danger" asp-controller="Department" asp-action="Delete" asp-route-id="@item.ID">Sil</a>
											</td>
										</tr>
									}
								}
							</tbody>

						</table>
					</div>
				</div><div class="row">
					<div class="col-sm-12 col-md-5">
						<div>
							@if (Model != null)
							{
								@Model.Count()
							}
							else
							{
								<a>0</a>
							}
							adet departman bulunmaktadır.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

