@using Teknoroma.Application.Features.Departments.Models
@model DepartmentViewModel
@{
	ViewData["Title"] = "Update";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
	<div class="col-md-12 mx-auto">
		<div class="card">
			<div class="card-header bg-info">
				<div class="form-group">
					<h2 class="text-white">Departman Seçiniz</h2>
					<select class="form-control" data-toggle="select2" onchange="redirectToSelectedPage(this)">
						@foreach (var department in ViewBag.DepartmentList)
						{
							@if (Model == null)
							{
								<option value="@department.ID" href="@department.ID">@department.DepartmentName</option>
							}
							else if (department.ID == Model.ID)
							{
								<option value="@department.ID" selected>@department.DepartmentName</option>
							}
							else
							{
								<option value="@department.ID" href="@department.ID">@department.DepartmentName</option>
							}
						}
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mx-auto">
					<form method="post" enctype="multipart/form-data">
						<div class="card-body">
							<div asp-validation-summary="All">
							</div>
							<div class="form-group">
								<label asp-for="ID"></label>
								<input type="text" class="form-control" asp-for="@Model.ID" disabled>
							</div>
							<div class="form-group">
								<label asp-for="DepartmentName"></label>
								<input type="text" class="form-control" asp-for="@Model.DepartmentName">
							</div>
							<div class="form-group">
								<label asp-for="Description"></label>
								<textarea class="form-control" cols="4" rows="3" asp-for="@Model.Description"></textarea>
							</div>
						</div>
						<div class="card-footer">
							<button type="submit" class="btn btn-warning btn-block waves-effect waves-light">Güncelle</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function redirectToSelectedPage(selectElement) {
		// Seçili değeri al
		var selectedValue = selectElement.value;

		// Yönlendirme yapmak istediğiniz URL'yi oluşturun
		var redirectUrl = '/Admin/Department/Update/' + selectedValue;

		// Yönlendirme işlemi
		window.location.href = redirectUrl;
	}
</script>
