@using Teknoroma.Application.Features.AppUserRoles.Models
@model List<AppUserRoleViewModel>
@{
	ViewData["Title"] = "AppUserRoleList";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
	<div class="col-md-12 mx-auto">
		<div class="card">
			<div class="card-header bg-info">
				<h2 class="text-white">Yetki Listesi</h2>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-12">
						<table id="basic-datatable" class="table table-striped nowrap dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="datatable-buttons_info">
							<thead>
							<th rowspan="1" colspan="1">Yetki Adı</th>
							<th>

							</th>
							</tr>
							</thead>
							<tbody>
								@if (Model != null)
								{
									@foreach (var item in Model)
									{
										<tr>
											<td>
												@item.Name
											</td>
											<td>
												<div>
													<a class="btn btn-info btn-block waves-effect waves-light" asp-controller="AppUserRole" asp-action="Detail" asp-route-id="@item.ID">Detaylar</a>
												</div>
												<div>
													<a class="btn btn-warning btn-block waves-effect waves-light" asp-controller="AppUserRole" asp-action="Update" asp-route-id="@item.ID">Güncelle</a>
												</div>
												<div>
													<a class="btn btn-danger btn-block waves-effect waves-light" asp-controller="AppUserRole" asp-action="Delete" asp-route-id="@item.ID">Sil</a>
												</div>
											</td>
										</tr>
									}
								}
							</tbody>
						</table>
					</div>
				</div><div class="row">
					<div class="col-sm-12 col-md-5">
						<div>
							@if (Model != null)
							{
								@Model.Count()
							}
							else
							{
								<a>0</a>
							}
							adet yetki bulunmaktadır.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


