@using Teknoroma.Application.Features.Suppliers.Models
@model SupplierViewModel
@{
    ViewData["Title"] = "Tedarikçi Güncelle - Teknoroma";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="card">
            <div class="card-header bg-info">
                <div class="form-group">
                    <h2 class="text-white">Tedarikçi Seçiniz</h2>
                    <select class="form-control" data-toggle="select2" onchange="redirectToSelectedPage(this)">
                        @foreach (var item in ViewBag.SupplierList)
                        {
                            @if (Model == null)
                            {
                                <option value="@item.ID" href="@item.ID">@item.CompanyName</option>
                            }
                            else if (item.ID == Model.ID)
                            {
                                <option value="@item.ID" selected>@item.CompanyName</option>
                            }
                            else
                            {
                                <option value="@item.ID" href="@item.ID">@item.CompanyName</option>
                            }
                        }

                    </select>
                </div>
            </div>
           @if(Model != null)
            {
                <form method="post" asp-route-ID="@Model.ID">
                    <div class="card-body">
                        <div asp-validation-summary="All">
                        </div>
                        <div class="form-group">
                            <label asp-for="CompanyName"></label>
                            <input type="text" class="form-control" asp-for="@Model.CompanyName">
                        </div>
                        <div class="form-group">
                            <label asp-for="ContactName"></label>
                            <input type="text" class="form-control" asp-for="@Model.ContactName">
                        </div>
                        <div class="form-group">
                            <label asp-for="ContactTitle"></label>
                            <input type="text" class="form-control" asp-for="@Model.ContactTitle">
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="email" class="form-control" asp-for="@Model.Email">
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input type="text" class="form-control" asp-for="@Model.PhoneNumber">
                        </div>
                        <div class="form-group">
                            <label asp-for="Address"></label>
                            <textarea class="form-control" asp-for="@Model.Address" rows="3" cols="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label asp-for="WebSite"></label>
                            <input type="url" class="form-control" asp-for="@Model.WebSite">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-warning btn-block waves-effect waves-light">Güncelle</button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>


<script>
    function redirectToSelectedPage(selectElement) {
        // Seçili değeri al
        var selectedValue = selectElement.value;

        // Yönlendirme yapmak istediğiniz URL'yi oluşturun
        var redirectUrl = '/Admin/Supplier/Update/' + selectedValue;

        // Yönlendirme işlemi
        window.location.href = redirectUrl;
    }
</script>